<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.cup.deliver">

    <application>
        <service android:name=".LService"></service>
        <service android:name=".RService" android:process=":remote"></service>
        <service android:name=".LService$InnerService"></service>
        <service android:name=".RService$InnerService" android:process=":remote"></service>
    </application>

</manifest>
